<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.michaelflisar.lumberjack.notification">

    <application>

        <receiver android:name="com.michaelflisar.lumberjack.NotificationLoggingTree$NotificationBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.michaelflisar.lumberjack.NotificationLoggingTree.BROADCAST_ACTION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
