<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.michaelflisar.lumberjack.viewer">

    <application>
        <activity
            android:name="com.michaelflisar.lumberjack.view.LumberjackViewerActivity"
            android:exported="true"
            android:theme="@style/LumberjackTheme" />
    </application>

</manifest>
